<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.doubao.quote.service.mapper.QuoteTagMapper">
    <insert id="insertBatch">
        insert into quote_tag (quote_id, tag_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.quoteId}, #{item.tagId})
        </foreach>
    </insert>

    <!-- 批量查询：根据 quoteIds 查询 quote 和 tag 的映射关系及标签名称 -->
    <select id="selectQuoteTagsWithDetails" resultType="java.util.Map">
        SELECT
        qt.quote_id,
        t.id AS tag_id,
        t.name AS tag_name
        FROM
        quote_tag qt
        JOIN tag t ON qt.tag_id = t.id
        WHERE
        qt.quote_id IN
        <foreach collection="quoteIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>