<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.doubao.feed.service.mapper.EventTimelineMapper">

    <!-- List<EventTimeline> queryVipTimeline(List<Long> actorIds, int pageNum, int pageSize);-->
    <select id="queryVipTimeline" resultType="org.doubao.feed.service.model.entity.EventTimeline">
        SELECT
        *
        FROM
        event_timeline
        WHERE
        deleted = 0
        AND
        actor_id IN
        <foreach item="actorId" collection="actorIds" separator="," open="(" close=")" index="">
            #{actorId}
        </foreach>
        ORDER BY
        event_time DESC
        LIMIT #{pageNum}, #{pageSize}
    </select>

    <!-- long countVipTimeline(@Param("actorIds") List<Long> actorIds); -->
    <select id="countVipTimeline" resultType="Long">
        SELECT
        COUNT(*)
        FROM
        event_timeline
        WHERE
        actor_id IN
        <foreach item="actorId" collection="actorIds" separator="," open="(" close=")" index="">
            #{actorId}
        </foreach>
    </select>

</mapper>