<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.doubao.feed.service.mapper.UserTimelineMapper">

    <!-- List<UserTimeline> queryUserTimeline(Long userId, List<Long> actorIds, int pageNum, int pageSize); -->
    <select id="queryUserTimeline" resultType="org.doubao.feed.service.model.entity.UserTimeline">
        SELECT
        *
        FROM
        user_timeline
        WHERE
        user_id = #{userId}
        AND
        deleted = 0
        <if test="actorIds != null and actorIds.size() > 0">
            AND actor_id IN
            <foreach item="actorId" collection="actorIds" separator="," open="(" close=")" index="">
                #{actorId}
            </foreach>
        </if>
        ORDER BY
        event_time DESC
        LIMIT #{pageNum}, #{pageSize}
    </select>

    <!-- long countUserTimeline(@Param("userId") Long userId,@Param("actorIds") List<Long> actorIds); -->
    <select id="countUserTimeline" resultType="long">
        SELECT
        COUNT(*)
        FROM
        user_timeline
        WHERE
        user_id = #{userId}
        <if test="actorIds != null and actorIds.size() > 0">
            AND actor_id IN
            <foreach item="actorId" collection="actorIds" separator="," open="(" close=")" index="">
                #{actorId}
            </foreach>
        </if>
    </select>
</mapper>