<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.doubao.fanout.service.mapper.FanoutFailRecordMapper">
    <!-- List<FanoutFailRecord> findByRetryCountLessThanAndLastRetryTimeBeforeOrLastRetryTimeIsNull(
			@Param("maxRetryTimes") int maxRetryCount, @Param("timeThreshold") LocalDateTime timeThreshold); -->
    <select id="findByRetryCountLessThanAndLastRetryTimeBeforeOrLastRetryTimeIsNull"
            resultType="org.doubao.fanout.service.model.FanoutFailRecord">
        SELECT * FROM fanout_fail_record
        WHERE retry_count &lt; #{maxRetryCount}
        AND (last_retry_time &lt; #{timeThreshold} OR last_retry_time IS NULL)
    </select>

    <!--List<FanoutFailRecord> findByEventId(@Param("eventId") String eventId); -->
    <select id="findByEventId" resultType="org.doubao.fanout.service.model.FanoutFailRecord">
        SELECT * FROM fanout_fail_record
        WHERE event_id = #{eventId}
    </select>
</mapper>