<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.doubao.recommend.service.mapper.RecommendQuoteMapper">

    <resultMap id="ContentFeatureResultMap" type="org.doubao.recommend.service.domain.ContentFeature">
        <id column="contentId" property="contentId"/>
        <result column="hotScore" property="hotScore"/>
        <result column="qualityScore" property="qualityScore"/>
        <result column="freshnessScore" property="freshnessScore"/>
        <result column="createdTime" property="createdTime"/>
    </resultMap>

    <sql id="Base_Quote_Fields">
        q.id AS contentId,
        COALESCE(fs.hot_score, 0) AS hotScore,
        COALESCE(fs.quality_score, 0) AS qualityScore,
        COALESCE(fs.freshness_score, 0) AS freshnessScore,
        q.created_time AS createdTime
    </sql>

    <sql id="Base_Join_Conditions">
        FROM quote q
        LEFT JOIN content_feature_snapshot fs ON fs.content_id = q.id
        WHERE q.deleted = 0 AND q.status = 1
    </sql>

    <select id="selectFeaturesByIds" resultMap="ContentFeatureResultMap">
        SELECT
        <include refid="Base_Quote_Fields"/>
        FROM quote q
        LEFT JOIN content_feature_snapshot fs ON fs.content_id = q.id
        WHERE q.id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND q.deleted = 0
        AND q.status = 1
    </select>

    <select id="selectFeatureById" resultMap="ContentFeatureResultMap">
        SELECT
        <include refid="Base_Quote_Fields"/>
        <include refid="Base_Join_Conditions"/>
        AND q.id = #{id}
        LIMIT 1
    </select>

    <select id="selectRecentPublished" resultMap="ContentFeatureResultMap">
        SELECT
        <include refid="Base_Quote_Fields"/>
        <include refid="Base_Join_Conditions"/>
        <if test="author != null and author != ''">
            AND q.author = #{author}
        </if>
        ORDER BY q.created_time DESC
        LIMIT #{limit}
    </select>

    <select id="selectRecentPublishedBeforeId" resultMap="ContentFeatureResultMap">
        SELECT
        <include refid="Base_Quote_Fields"/>
        <include refid="Base_Join_Conditions"/>
        <if test="author != null and author != ''">
            AND q.author = #{author}
        </if>
        <if test="maxContentId != null">
            AND q.id &lt; #{maxContentId}
        </if>
        ORDER BY q.id DESC
        LIMIT #{limit}
    </select>

    <select id="selectByAuthorId" resultMap="ContentFeatureResultMap">
        SELECT
        <include refid="Base_Quote_Fields"/>
        <include refid="Base_Join_Conditions"/>
        AND q.author_id = #{authorId}
        ORDER BY q.created_time DESC
        LIMIT #{limit}
    </select>

    <select id="selectByDynasty" resultMap="ContentFeatureResultMap">
        SELECT
        <include refid="Base_Quote_Fields"/>
        <include refid="Base_Join_Conditions"/>
        AND q.dynasty = #{dynasty}
        ORDER BY q.created_time DESC
        LIMIT #{limit}
    </select>

    <select id="selectByTags" resultMap="ContentFeatureResultMap">
        SELECT
        <include refid="Base_Quote_Fields"/>
        FROM quote q
        LEFT JOIN content_feature_snapshot fs ON fs.content_id = q.id
        LEFT JOIN quote_tag qt ON qt.quote_id = q.id
        LEFT JOIN tag t ON t.id = qt.tag_id
        WHERE q.deleted = 0 AND q.status = 1
        AND t.name IN
        <foreach collection="tags" item="tag" open="(" separator="," close=")">
            #{tag}
        </foreach>
        GROUP BY q.id
        ORDER BY q.created_time DESC
        LIMIT #{limit}
    </select>

    <select id="selectByTopicIds" resultMap="ContentFeatureResultMap">
        SELECT
        <include refid="Base_Quote_Fields"/>
        FROM quote q
        LEFT JOIN content_feature_snapshot fs ON fs.content_id = q.id
        LEFT JOIN quote_topic qt2 ON qt2.quote_id = q.id AND qt2.deleted = 0 AND qt2.status = 1
        WHERE q.deleted = 0 AND q.status = 1
        AND qt2.topic_id IN
        <foreach collection="topicIds" item="topicId" open="(" separator="," close=")">
            #{topicId}
        </foreach>
        GROUP BY q.id
        ORDER BY q.created_time DESC
        LIMIT #{limit}
    </select>

    <select id="selectByAuthors" resultMap="ContentFeatureResultMap">
        SELECT
        <include refid="Base_Quote_Fields"/>
        <include refid="Base_Join_Conditions"/>
        AND q.author IN
        <foreach collection="authors" item="author" open="(" separator="," close=")">
            #{author}
        </foreach>
        ORDER BY q.created_time DESC
        LIMIT #{limit}
    </select>

    <select id="selectExploreByExcludedTags" resultMap="ContentFeatureResultMap">
        SELECT
        <include refid="Base_Quote_Fields"/>
        FROM quote q
        LEFT JOIN content_feature_snapshot fs ON fs.content_id = q.id
        LEFT JOIN quote_tag qt ON qt.quote_id = q.id
        LEFT JOIN tag t ON t.id = qt.tag_id
        WHERE q.deleted = 0 AND q.status = 1
        AND t.name IS NOT NULL AND t.name != ''
        <if test="excludedTags != null and excludedTags.size() > 0">
            AND t.name NOT IN
            <foreach collection="excludedTags" item="tag" open="(" separator="," close=")">
                #{tag}
            </foreach>
        </if>
        GROUP BY q.id
        ORDER BY q.created_time DESC
        LIMIT #{limit}
    </select>

    <select id="selectExploreByExcludedAuthors" resultMap="ContentFeatureResultMap">
        SELECT
        <include refid="Base_Quote_Fields"/>
        <include refid="Base_Join_Conditions"/>
        AND q.author IS NOT NULL AND q.author != '' AND q.author != '佚名'
        <if test="excludedAuthors != null and excludedAuthors.size() > 0">
            AND q.author NOT IN
            <foreach collection="excludedAuthors" item="author" open="(" separator="," close=")">
                #{author}
            </foreach>
        </if>
        ORDER BY q.created_time DESC
        LIMIT #{limit}
    </select>

    <select id="selectValidIds" resultType="java.lang.Long">
        SELECT q.id
        FROM quote q
        WHERE q.id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND q.deleted = 0
        AND q.status = 1
    </select>

</mapper>