<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.doubao.user.server.report.mapper.ReportMainMapper">

    <sql id="Base_Column_List">
        rm.id,
        rm.user_id,
        rm.reported_type,
        rm.reported_id,
        rm.first_category_id,
        rm.second_category_id,
        rm.third_category_id,
        rm.risk_level,
        rm.status,
        rm.handle_result,
        rm.handle_time,
        rm.created_time,
        rm.updated_time
    </sql>

    <select id="selectAdminReportPage" resultType="org.doubao.user.server.report.dto.response.ReportRecordDTO">
        SELECT
        <include refid="Base_Column_List"/>,
        fc.name as first_category_name,
        sc.name as second_category_name,
        tc.name as third_category_name
        FROM report_main rm
        LEFT JOIN report_category fc ON rm.first_category_id = fc.id
        LEFT JOIN report_category sc ON rm.second_category_id = sc.id
        LEFT JOIN report_category tc ON rm.third_category_id = tc.id
        <where>
            <if test="query.status != null">AND rm.status = #{query.status}</if>
            <if test="query.reportedType != null">AND rm.reported_type = #{query.reportedType}</if>
            <if test="query.userId != null">AND rm.user_id = #{query.userId}</if>
            <if test="query.reportId != null">AND rm.id = #{query.reportId}</if>
            <if test="query.startTime != null">AND rm.created_time >= #{query.startTime}</if>
            <if test="query.endTime != null">AND rm.created_time &lt;= #{query.endTime}</if>
            <if test="query.firstCategoryId != null">AND rm.first_category_id = #{query.firstCategoryId}</if>
            <if test="query.secondCategoryId != null">AND rm.second_category_id = #{query.secondCategoryId}</if>
            <if test="query.thirdCategoryId != null">AND rm.third_category_id = #{query.thirdCategoryId}</if>
            <if test="query.riskLevel != null">AND rm.risk_level = #{query.riskLevel}</if>
        </where>
        ORDER BY rm.created_time DESC
    </select>

    <select id="selectUserReportPage" resultType="org.doubao.user.server.report.dto.response.ReportRecordDTO">
        SELECT
        <include refid="Base_Column_List"/>,
        fc.name as first_category_name,
        sc.name as second_category_name,
        tc.name as third_category_name
        FROM report_main rm
        LEFT JOIN report_category fc ON rm.first_category_id = fc.id
        LEFT JOIN report_category sc ON rm.second_category_id = sc.id
        LEFT JOIN report_category tc ON rm.third_category_id = tc.id
        <where>
            AND rm.user_id = #{userId}
            <if test="status != null">AND rm.status = #{status}</if>
        </where>
        ORDER BY rm.created_time DESC
    </select>
</mapper>