<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 命名空间对应Mapper接口全类名 -->
<mapper namespace="org.doubao.user.service.mapper.log.OperationLogMapper">

    <!-- 批量插入日志 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO operation_log (
        username,
        operation_time,
        operation_type,
        source_ip,
        target_url,
        source_port,
        client_hardware_info,
        operation_result,
        operation_detail,
        service_name,
        create_time,
        update_time,
        deleted
        ) VALUES
        <foreach collection="list" item="log" separator=",">
            (
            #{log.username},
            #{log.operationTime},
            #{log.operationType},
            #{log.sourceIp},
            #{log.targetUrl},
            #{log.sourcePort},
            #{log.clientHardwareInfo},
            #{log.operationResult},
            #{log.operationDetail},
            #{log.serviceName},
            #{log.createTime},
            #{log.updateTime},
            #{log.deleted}
            )
        </foreach>
    </insert>

    <!-- 删除指定时间之前的日志（物理删除） -->
    <delete id="deleteBeforeTime" parameterType="java.time.LocalDateTime">
        DELETE FROM operation_log
        WHERE operation_time &lt; #{time}
        AND deleted = 0
    </delete>

    <!-- 可选：按条件查询日志列表（如需自定义复杂查询可添加） -->
    <select id="selectByCondition" resultType="org.doubao.user.service.entity.log.OperationLog">
        SELECT * FROM operation_log
        <where>
            <if test="username != null and username != ''">
                AND username = #{username}
            </if>
            <if test="operationType != null and operationType != ''">
                AND operation_type = #{operationType}
            </if>
            <if test="startTime != null">
                AND operation_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND operation_time &lt;= #{endTime}
            </if>
            AND deleted = 0
        </where>
        ORDER BY operation_time DESC
    </select>

</mapper>
